@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
html,body{
    overflow-x: hidden;
}
.card-title{
    color: black
}
.black{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;
}
.green-text-sale{
    color: #83bc2e;
}
.red-price{
    color: red;
}
.round-close{
    opacity: 1;
}
.round-close:focus{
    outline: none;
}
.round-close svg{
    width: 24px;
    height: 24px;
    color: white;
}
.alert{
    border: none;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
}
.nav-link{
    color: black !important;
    font-weight: 500;
}
.non-hiding-nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.non-hiding-nav-items a, .non-hiding-nav-items a svg{
    width: 24px;
    height: 24px;
    color: grey;
}
.nav-link:hover{
    color: #83bc2e !important;
}
.carousel-inner{
    width: 100vw !important;
    height: 500px !important;
}
.main-carousel{
    width: 100vw;
    height: 500px;
}
.carousel-item{
    width: 100vw !important;
    height: 500px!important;
}
.carousel-item img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.row{
    margin: 0;
}
.special-container{
    padding: 6rem 1rem;
    padding-bottom: 0;
    width: 100%;
}

.col-img{
    height: 20rem;
    position: relative;
}
.col-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: #83bc2e;
}
.image-info{
    position: absolute;
    top: 50%;
    left: 16px;
    /* width: 100%;
    height: 100%; */
    color: white;
    transform: translate(0%,-50%);
}
.image-info h4{
    width: 12ch;
}
.image-info a{
    color: white;
    position: relative;
    margin-top: 28px;
    display: inline-block;
}

.image-info a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid black;
    /* transform: scaleX(0); */
    width: 0;
}

.image-info a:hover{
    text-decoration: none;
}

.image-info a:hover::after{
    /* transform: scaleX(1);
    transition: transform 0.5s linear; */
    width: 100%;
    transition: width 0.5s linear;
}
.italic-title{
    font-family: 'Parisienne', cursive;
    color: #83bc2e;
}
.title{
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.jumbotron{
    margin-bottom: 0;
    margin-left: calc(1rem + 15px);
    margin-right: calc(1rem + 15px);
}



.title::after{
    position: absolute;
    content: '';
    display: block;
    width: 250px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
}

.col-img-2{
    height: 12rem;
}
.col-img-2 img{
    width: 100%;
    height: 80%;
    object-fit: scale-down;
}
.jumbotron{
    background-color: #83bc2e;
    margin-top: 6rem;
}
.jumbo-data{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    justify-content: center;
}
.jumbo-data svg{
    width: 64px;
    height: 64px;
}
.jumbo-data-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}
.jumbo-data p, .jumbo-data h5{
    margin: 0;
}
.shop-price{
    color: #83bc2e;
    font-weight: 700;
    font-size: 1.4rem;
}
.card-img-custom{
    width: 18rem;
    height: 14rem;

}
.card-img-custom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}
.card{
    width: 18rem;
}
.custom-flex{
    display: flex;
    justify-content: center;
}
.gap-2{
    gap: 2rem;
    flex-wrap: wrap;
}
.shop-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
}


.special-add{
    background-color: #83bc2e;
    display: flex;
    flex-direction: column;
}

.image-setting img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-content{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}
.add-title{
    font-family: 'Parisienne', cursive;
    font-size: 1rem;
}
.add-main-title{
    font-size: 2rem;
    font-weight: 700;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.time div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 2px solid white;
    border-radius: 8px;
}
.time h3{
    margin: 0;
}
.colon{
    font-size: 2rem;
}

.margin-top-6{
    margin-top: 6rem;
}

.img-user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow:hidden;
    justify-self: center;
    margin: 0 8px;
    align-self: center;
}
.img-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .card-grid{
    display: grid;
    grid-template-columns: 150px auto;
} */
.card-grid{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.stars svg{
    width: 16px;
    height: 16px;
}
.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: gold;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding-right: 18px; */
    align-items: center;
    text-align: center;
}

.testimonials{
    margin-bottom: 6rem;
    gap: 2rem;
}

.products-bg{
    background-color: #fafafa;
}




.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #fafafa;
    color: #83bc2e !important;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-pills{
    justify-content: center;
    margin-bottom: 3rem !important;
}

.products-bg{
    padding-bottom: 6rem;
}


.blog-grid{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2rem;
    justify-content: space-between;
}
.blog-card{
    /* max-width: 300px; */
    min-width: 300px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    

}
.blog-card a{
    display: inline-block;
    color: black;
}
.blog-img{
    
    height: 250px;
    position: relative;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-by{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.blog-by p{
    margin: 0;
}

.by{
    color: #83bc2e !important;
}

.tags{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.tags span{
    background-color: white;
    color: black;
    padding: 4px 16px;
    border-radius: 100px;
}


.blog-card{
    max-width: 100%;
    
}
.blog-grid{
    justify-content: center;
}


.blog-card a p,.blog-card a h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    background-color: #1d1d1d;
    margin-top: 6rem;
    padding-bottom: 2rem;
}
.blog-card a h3{
    font-size: 1.2rem;
}
.blog-card a p{
    font-size: 1rem;
}


.sign-up{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}
.sign-up button,.sign-up input {
    border: none;
    padding: 8px 10px;
    outline: none;
}
.sign-up input{
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    flex-grow: 1;
    color: white;
}

.sign-up button{
    background-color: white;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
}

footer ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 2rem;
    opacity: 0.9;
}
footer li{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
footer li a{
    display: inline-block;
    color: white;
}
footer li a:hover{
    color: white;
    text-decoration: none;
}
footer svg{
    width: 16px;
    height: 16px;
}

.footer-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-top: 2rem;
    justify-content: center;
}

.socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;

}
.socials svg{
    width: 16px;
    height: 16px;
    opacity: 0.7;
}
.socials a{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    align-items: center;
    background-color: #343434;
    border-radius: 50%;
    color: white;
}
.socials a:hover svg{
    opacity: 1;
}

.footer-last p{
    margin-bottom: 0;
}

.shop-now{
    padding: 10px 30px;
    border-radius: 100px;
    display: inline-block;
    background-color: white;
    color: black;
    margin-top: 28px;
}
.shop-now:hover{
    color: black;
    text-decoration: none;
}

.main-carousel{
    position: relative;
    background-color: black;
}

.absolute-content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: white;
    padding-left: calc(1rem + 15px);
    padding-right: calc(1rem + 15px);
}
.absolute-content h5{
    font-size: 2rem;
    font-weight: 400;
}
.absolute-content h4{
    font-size: 2rem;
    font-weight: 700;
}


button:hover{
    cursor: pointer;
}

@media (min-width: 576px) { 
    .card-grid{
        display: grid;
        grid-template-columns: 150px auto;
    }
    .testimonial-content{
        text-align: start;
        align-items: flex-start;
        padding-right: 18px;
    }
    .img-user{
        align-self: flex-start;
    }



    .blog-card{
        max-width: 100%;
        
    }
    .blog-grid{
        justify-content: center;
    }
}


@media (min-width: 768px) {
    .shop-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .add-content{
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 4rem;
    }
    .add-title{
        font-family: 'Parisienne', cursive;
        font-size: 2rem;
    }
    .add-main-title{
        font-size: 4rem;
        width: 9ch;
        font-weight: 700;
    }
    
    .add-content,.add-content p{
        text-align: start;
    }


    .card-grid{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .testimonial-content{
        display: flex;
        flex-direction: column;
        gap: 8px;
        /* padding-right: 18px; */
        padding-right: 0;
        align-items: center;
        text-align: center;
    }

    .img-user{
        align-self: center;
    }
    .testimonials{
        gap: 0;
    }



    .blog-card{
        max-width: 45%;
    }
    .blog-grid{
        justify-content: space-between;
    }

    footer li{
        justify-content: flex-start;
    }
    .footer-last{
        justify-content: space-between;
    }
    .absolute-content h5{
        font-size: 3.5rem;
        font-weight: 400;
    }
    .absolute-content h4{
        font-size: 3.5rem;
        font-weight: 700;
    }
}


@media (min-width: 992px) {
    .shop-cards{
        grid-template-columns: repeat(3,1fr);
    }
    .card-grid{
        display: grid;
        grid-template-columns: 150px auto;
    }
    .testimonial-content{
        text-align: start;
        align-items: flex-start;
        padding-right: 18px;
    }
    .img-user{
        align-self: flex-start;
    }

    .blog-card{
        max-width: 30%;
    }

    .absolute-content h5{
        font-size: 4.5rem;
        font-weight: 400;
    }
    .absolute-content h4{
        font-size: 4.5rem;
        font-weight: 700;
    }
}


@media (min-width: 1200px) {
    .shop-cards{
        grid-template-columns: repeat(4,1fr);
    }
}
.blog-grid{
    padding-right: 15px;
    padding-left: 15px;
}
